{
  "version" : "2017-02-28",
  "operation" : "Query",

  "query" : {
     "expression": "customer_id = :customer_Id",
     "expressionValues" : {
     	":customer_Id" : { "S" : "$ctx.source.id" },
     }
  },
  "index" : "customer_id-account_type-index",
  "limit": $util.defaultIfNull($ctx.args.limit, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.nextToken, null)),
  "scanIndexForward": true,
  "select": "ALL_ATTRIBUTES"
}
