{
  "version": "2018-05-29",
  "method": "POST",
  ## E.G. if full path is https://api.xxxxxxxxx.com/posts then resourcePath would be /posts **
  "resourcePath": "/accounts/$ctx.args.fromAccountId/money-transfer-requests",
  "params":{
      "body":{
            "client_id": "$ctx.args.customerId",
            "destination_account_id": "$ctx.args.toAccountId",
            "currency": "$ctx.args.currency",
            "monetary_amount": "$ctx.args.amount",
            "transfer_date": "",
            "first_transfer_date": "",
            "memo": "$ctx.args.description",
            "transfer_type": "PAYMENT_TYPE_IMMEDIATE_PAYMENT",
            "frequency": "OneTime",
            "transfer_request_status": "",
            "operation_signature_id": ""
       },
      "headers": {
           "content-type": "application/json",
           "microservice": "accounts"
       }
  }
}
