$util.toJson(
  {
      "id":$context.result.id,
      "title":$context.result.title,
      "firstName":$context.result.first_name,
      "lastName":$context.result.last_name,
      "dob":$context.result.dob,
      "emailAddress":$context.result.email_address,
      "mobilePhoneNumber":$context.result.mobile_phone_number
  }
)
