{
    "version": "2018-05-29",
    "method": "GET",
    "resourcePath": "/loans-service/loans/products",
    "params":{
        "headers": {
            "microservice": "loans",
            "Authorization": "Bearer $context.request.headers.authorization"
        }
    }
}