{
    "version": "2018-05-29",
    "method": "GET",
    "resourcePath": "/accounts-service/accounts/fx-rate/$ctx.args.destinationCurrency",
    "params":{
        "headers": {
            "microservice": "accounts",
            "Authorization": "Bearer $context.request.headers.authorization"
        }
    }
}