{
    "version": "2018-05-29",
    "method": "GET",
    "resourcePath": "/accounts/fx-rate/$ctx.args.destinationCurrency",
    "params":{
        "headers": {
            "microservice": "accounts"
        }
    }
}