$util.toJson(
  {
      "id": $context.result.id,
      "title": $context.result.title,
      "firstName": $context.result.firstName,
      "lastName": $context.result.lastName,
      "dob": $context.result.dob,
      "emailAddress": $context.result.email,
      "mobilePhoneNumber": $context.result.mobile
  }
)
